<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunshine Family</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script defer src="http://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Sunshine Family</title>  
</head>
<body>
    {{> navbar}}
        {{{ body }}}
<script src="javascripts/script.js"></script>

<script defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAJzW0fLgmyURc6n8p9tzpzcd7MOSiNyA&callback=initMap&libraries=&v=weekly"
      async
    ></script>
</body>
</html>