
    <section class="hero is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="login">
      <img
        src="/images/copy-space-girl-playing.jpg"width="325px">
      <form class="signup-form">
        <div class="field">
          <div class="control">
            <input id="username-signup" class="input is-medium is-square" placeholder="your name"
              autocomplete="username" required />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input id="email-signup" class="input is-medium is-square" type="email" placeholder="hello@example.com"
              autocomplete="username" required />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input id="password-signup" class="input is-medium is-square" type="password" placeholder="**"
              autocomplete="current-password" required />
          </div>
        </div>
        <br />
        <button class="button is-block is-fullwidth is-dark is-medium is-square" type="submit">
          Sign Up
        </button>
      </form>
      <br>
      <nav class="level">
        <div class="level-item has-text-centered">

        </div>
        <div class="level-item has-text-centered">
          <div>
            <a href="/login">Login</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
<script defer src="javascripts/signup.js"></script>